/* English: Dosis */
@font-face {
  font-family: 'Dosis';
  src: url('/assets/fonts/dosis-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Persian: Vazir (Regular) */
@font-face {
  font-family: 'Vazir';
  src: url('/assets/fonts/vazir-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Persian: Vazir (Bold) */
@font-face {
  font-family: 'Vazir';
  src: url('/assets/fonts/vazir-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}



html[lang="en-US"] body {
  font-family: 'Dosis', sans-serif;
}

html[lang="fa-IR"] body {
  font-family: 'Vazir', sans-serif;
  direction: rtl;
}

body{
    margin: 0px;
    line-height: 1.5;
}

html, body {
  overflow-x: hidden;
}


.font-dosis{
      font-family: 'Dosis', sans-serif !important;
}
.font-vazir{
    font-family: 'Vazir', sans-serif  !important;
}